@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Nunito:wght@200;700&family=Open+Sans:wght@300&family=Rethink+Sans:wght@400;500&family=Roboto:wght@100;300;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  padding: 15px;
  margin: auto;
}

.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__info {
  width: 150px;
  height: 150px;
}

.main_index {
  padding: 50px 0 50px 0;
}

.contenido {
  width: 80%;
}

.container__flex {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.grid__container_dos {
  width: 800px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  place-items: center;
  margin: auto;
}

.grid__container_dos img {
  width: 350px;
}

@media (max-width: 860px) {
  .grid__container_dos {
    display: flex;
    flex-direction: column;
    width: 350px;
  }
  .grid__container img {
    width: 350px;
  }
  .contenido {
    padding-top: 35px;
  }
}
footer {
  width: 100%;
  /* height: 100%; */
  background-color: grey;
  display: flex;
  justify-content: space-evenly;
}

.footer__contacto {
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  padding-top: 15px;
  align-items: center;
}

.footer__contacto h3 {
  font-size: 30px;
  color: white;
}

.footer__contacto p {
  color: white;
  font-size: 15px;
  align-items: center;
}

.contenedor__logo {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}

.footer__logo {
  font-size: 25px;
}

.footer__redes {
  display: flex;
  flex-direction: column;
  padding-right: 150px;
  padding-top: 15px;
}

.footer__redes a {
  text-decoration: none;
  color: #fff;
}

.footer__redes a:hover {
  color: black;
}

@media (max-width: 860px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__contacto {
    display: flex;
    align-items: center;
    padding-left: 0;
  }
  .contenedor__logo {
    align-items: center;
  }
  .footer__redes {
    padding-right: 0;
    padding-bottom: 15px;
  }
}
.header__container {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/imagen2.jpg);
  background-size: cover;
  background-position: center;
}

.header__container h1 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  width: 50%;
}

.header__container img {
  /* height: 100%; */
  width: 100%;
}

.titulo-negrita {
  font-weight: 700;
}

.contacto__contenido {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 75px;
  align-items: center;
}

.contacto__contenido h3 {
  font-weight: 700;
  padding-bottom: 35px;
}

.formulario__contacto {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  width: 500px;
  padding: 50px 50px 50px 50px;
}

.main__contacto {
  /* width: 1025px; */
  display: flex;
  flex-wrap: wrap;
}

.main__innovacion {
  width: 800px;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}

.main__innovacion img {
  width: 600px;
}

@media (max-width: 860px) {
  .main__innovacion {
    width: 600px;
  }
}
@media (max-width: 650px) {
  .main__innovacion {
    width: 350px;
  }
  .main__innovacion img {
    width: 300px;
  }
}
.innovacion {
  width: 100%;
}

.innovacion__contenido {
  padding: 45px 15px 35px 15px;
}

.innovacion__contenido h3 {
  font-weight: 700;
  padding: 5px 0 15px 0;
  margin: auto;
}

.centrar_nav {
  display: flex;
  justify-content: center;
}

.navbar-nav a:hover {
  color: violet;
}

.galeria__imagen p {
  padding-top: 15px;
}

.portfolio__container {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  padding: 0 150px 0 150px;
}

@media (max-width: 769px) {
  .portfolio__info {
    padding: 15px;
  }
}
.main_container__dos {
  width: 350px;
}

.grid__container {
  width: 500px;
  height: 100%;
  display: grid;
  padding-top: 50px;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  place-items: center;
  margin: auto;
  align-items: center;
}

.main_container__dos {
  width: 100%;
}

.grid__container img {
  width: 350px;
}

@media (max-width: 860px) {
  .grid__container {
    display: flex;
    flex-direction: column;
    width: 350px;
  }
}
.section__info {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 150px;
}

.galeria__imagen {
  padding: 15px;
  width: 350px;
  margin: auto;
}

@media (max-width: 860px) {
  .section__info {
    width: 300px;
  }
  .galeria__imagen {
    width: 250px;
  }
}
/* FONTS */

/*# sourceMappingURL=style.css.map */
