footer {
    width: 100%;
    background-color: map-get($colors, gray);
    display: flex;
    justify-content: space-evenly;
}

.footer__contacto {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    align-items: center;
    h3 {
        font-size: 30px;
        color: $gray;
    }
    p {
        color: $gray;
        font-size: 15px;
        align-items: center;   
    }
}

.contenedor__logo {
    color: $gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}

.footer__logo {
    font-size: 25px;
}

.footer__redes {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    a {
        text-decoration: none;
        color: $gray;
        &:hover {
            color: map-get($colors, pure-black);
        }
    }      
}

//MEDIA QUERYS
@media (max-width: 860px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__contacto {
        display: flex;
        align-items: center;
        padding-left: 0;
    }
    .contenedor__logo {
        align-items: center;
    }
    .footer__redes {
        padding-right: 0;
        padding-bottom: 15px;
    }
}