main {
    padding: 15px;
    margin: auto;
}

 .main_index {
    padding: 50px 0 50px 0;
 }

 .contenido {
     width: 80%;
 }
 
 .container__flex {
     display: flex;
     height: 100%;
     align-items: center;
     justify-content: center;
 }
 
 .grid__container_dos {
    width: 800px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    place-items: center;
    margin: auto;
    img {
        width: 350px;
    }
}

//MEDIAS QUERYS
@media (max-width: 860px) {
    .grid__container_dos {
        display: flex;
        flex-direction: column;
        width: 350px;
    }
    .grid__container img {
        width: 350px;
    }
    .contenido {
        padding-top: 35px;
    }
}
