main {
    padding: 15px;
    margin: auto;
}

.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__info {
    
    width: 150px;
    height: 150px;
 
 }
 

 .contenido {
     width: 80%;
    //  justify-content: space-between;
 }
 
 .container__flex {
     display: flex;
     height: 100%;
     align-items: center;
     justify-content: center;
 }
 
 .grid__container_dos {
    width: 800px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    place-items: center;
    margin: auto;
}
.grid__container_dos img {
    width: 400px;
}

@media (max-width: 860px) {
    .grid__container_dos {
        display: flex;
        flex-direction: column;
        width: 450px;
    }
    .grid__container img {
        width: 300px;
    }
}
