.main__innovacion {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    // justify-content: center;
    width: 800px;
}



.innovacion {

}

.innovacion__contenido {
    padding: 30px;
    width: 800px;
    margin: auto;

}
.innovacion__contenido h3 {
    font-weight: 700;
    padding: 15px;
    margin: auto;
}





// @media (max-width: 769px) {
//     .innovacion__contenido {
//         width: 450px;
//         padding: 15px;
//     }
// }

