.centrar_nav {
    display: flex;
    justify-content: center;
    a {
        &:hover {
            color: $gray;
            background-color: #5f7f7a;
            transition: 0.3s;
        }
    }
}
