.main_container__dos {
    width: 350px;
}

.grid__container {
    width: 500px;
    height: 100%;
    display: grid;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    place-items: center;
    margin: auto;
    align-items: center;
    img {
        width: 350px;
    }
}

.main_container__dos {
    width: 100%;
}

.section__info {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 150px;
}

.galeria__imagen {
    padding: 15px;
    width: 350px;
    margin: auto;
}

//MEDIAS QUERYS
@media (max-width: 860px) {
    .grid__container {
        display: flex;
        flex-direction: column;
        width: 350px;
    }
}

@media (max-width: 860px) {
    .section__info {
       width: 300px;
    }
    .galeria__imagen {
        width: 250px;
    }
}
