.section__info {
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 30px;
}


.galeria__imagen {
    padding: 15px;
    width: 350px;
    margin: auto;
}

